<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Assigning a task</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <style>
    table {
        border-spacing: 25px 0;
        cellpadding: 10
    },
    th {
        border: 1px solid;
    },
    td {
            padding: 0 15px;
    }
    </style>

</head>
<body>

<div class="container" style="text-align: center;">

    <form id="searchUser" th:action="@{/assign/assign-task} + '/' + ${taskId}">
        Filtruj po nazwie użytkownika:
        <input type="text" name="keyword" required/>
        &nbsp;
        <input type="submit" value="szukaj"/>
        <input type="reset" value="czyść">
        <a th:href="${'/assign/assign-task/'} + ${taskId}">powrót do poprzedniego widoku</a></br>
    </form>

    <form th:object="${task}" class="form-horizontal" th:action="@{/assign/assign-task}" th:method="post">
        <div class="form-group form-control-lg">
            <label class="control-label">
                <div>
                <span style="font-weight: bold; display: table;margin: 0 auto;">
                    Przydziel użytkownika do zadania
                </span><br>
                    <span>
                        Należy wprowadzić pojedyńczą nazwę użytkownika, wtedy uaktywni się przycisk zatwierdzenia
                    </span>
                </div>
            </label><br><br>
            <span>Nazwa zadania do przydzielenia: </span><br>
            <span style="display: table; margin: 0 auto;" th:text="${taskToAssignName}"></span><br>
            <table table table-bordered>
                <div class="fw-bold;">
                    <thead>
                    <tr>
                        <th scope="col">Nazwa użytkownika</th>
                        <th style="font-weight: bold;" scope="col"> Adres mailowy</th>
                        <th style="font-weight: bold;" scope="col"> Dotychczas przypisane zadania</th>
                    </tr>
                    <br>
                </div>
                </thead>

                <tbody th:each="user : ${allUsers}">
                <tr>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td><select th:if="${user.tasksOwned.size() gt 0}">
                        <option th:each="task : ${user.tasksOwned}"
                                th:text="${task.description}"></option>
                    </select>
                        <span th:if="${user.tasksOwned.size() == 0}">Brak przypisanych zadan</span>
                    </td>
                    <input type="hidden" th:value="${task.taskId}" name="taskId">
                    <input type="hidden" th:value="${user.id}" name="userId">
                </tr>
                <br>
                </tbody>
            </table>
        </div>
        <div>
            <button th:if="${#lists.size(allUsers)}==1" type="submit" value="Przydziel zadanie" class="btn btn-default">
                Przydziel zadanie
            </button>
        </div>
    </form>

</div>
<div class="row" style="text-align: center;">
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</div>

<a th:href="${'/assign/show-free-task'}">Powrót do poprzedniego widoku</a>
</body>
</html>