<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Assigning a task</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">

        <form id="searchUser" th:action="@{/assign/assign-task} + '/' + ${taskId}">
            Filtruj po nazwie użytkownika:
            <input type="text" name="keyword" required/>
            &nbsp;
            <input type="submit" value="szukaj"/>
            <input type="reset" value="czyść">
            <a th:href="${'/assign/assign-task/'} + ${taskId}">powrót do widoku bez filtrowania</a></br>
        </form>

        <form th:object="${task}" class="form-horizontal" th:action="@{/assign/assign-task}" th:method="post">
            <div class="form-group">
                <label class="control-label">Przydziel użytkownika do zadania</label><br>
                <span style="font-weight: bold;" th:text="${taskToAssignName}"></span><br>
                <thead>
                <tr>
                    <th style="font-weight: bold;" scope="col">Nazwa użytkownika</th>
                </tr>
                <br>
                </thead>

                <tbody th:each="user : ${allUsers}">
                <tr>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td><select>
                        <option th:each="task : ${user.tasksOwned}"
                                th:text="${task.description}"></option>
                    </select></td>
                    <input type="hidden" th:value="${task.taskId}" name="taskId">
                    <input type="hidden" th:value="${user.id}" name="userId">
                </tr>
                <br>
                </tbody>
            </div>
            <div>
                <button th:if="${#lists.size(allUsers)}==1" type="submit" value="Przydziel zadanie" class="btn btn-default">Przydziel zadanie</button>
            </div>
        </form>

</div>
<div class="row" style="text-align: center;">
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</div>

<a th:href="${'/assign/show-free-task'}">Powrót do poprzedniego widoku</a>
</body>
</html>