<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Users View</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>
<body>

<div class="container" style="text-align: center;">

    <div>
        <form th:action="@{/users}">
            Filtruj po nazwie użytkownika:
            <input type="text" name="keyword" required/>
            &nbsp;
            <input type="submit" value="szukaj"/>
            <input type="reset" value="czyść">
            <a th:href="${'/users'}">powrót do widoku bez filtrowania</a>
        </form>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">nazwa</th>
            <th scope="col">email</th>
            <th scope="col">zadania przypisane do użytkownika</th>
            <th scope="col">nadaj uprawnienia admina</th>
        </tr>
        </thead>
        <tbody th:each="user : ${allUsers}">
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td><select>
                <option th:each="task : ${user.tasksOwned}"
                        th:text="${task.description}"></option>
            </select></td>
            <td><span sec:authorize="hasAnyAuthority('ADMIN_USER')"><a
                    th:href="${'/registration/remove-user/' + {user.id}}">usun użytkownika</a></span></td>
            <td><span sec:authorize="hasAnyAuthority('ADMIN_USER')"><a
                    th:href="${'/registration/grant-admin/' + {user.id}}">nadaj uprawnienia admina</a></span></td>
        </tr>
        </tbody>
    </table>

        <div class="row" style="text-align: center;">
            <form action="#" th:action="@{/logout}" method="post">
                <input type="submit" value="Logout"/>
            </form>
        </div>
        <a th:href="${'/'}">Powrót do głównej strony</a>

    </div>

</body>
</html>